html[data-theme="primeBlueDark"] {
  --color-accent: rgb(0, 123, 255);
  --color-accent-20: rgba(0, 123, 255, 0.2);
  --color-accent-40: rgba(0, 123, 255, 0.4);
  --color-accent-60: rgba(0, 123, 255, 0.6);
  --color-accent-80: rgba(0, 123, 255, 0.8);

  --color-background: rgb(0, 0, 70);
  --color-background-20: rgba(0, 0, 70, 0.2);
  --color-background-40: rgba(0, 0, 70, 0.4);
  --color-background-60: rgba(0, 0, 70, 0.6);
  --color-background-80: rgba(0, 0, 70, 0.8);

  --color-background-shade: rgb(0, 0, 128);
  --color-background-shade-20: rgb(0, 0, 128, 0.2);
  --color-background-shade-40: rgb(0, 0, 128, 0.4);
  --color-background-shade-60: rgb(0, 0, 128, 0.6);
  --color-background-shade-80: rgb(0, 0, 128, 0.8);

  --color-text: rgb(240, 248, 255);
  --color-text-20: rgb(240, 248, 255, 0.2);
  --color-text-40: rgb(240, 248, 255, 0.4);
  --color-text-60: rgb(240, 248, 255, 0.6);
  --color-text-80: rgb(240, 248, 255, 0.8);

  --color-text-shade: rgb(173, 216, 230);
  --color-text-shade-20: rgb(173, 216, 230, 0.2);
  --color-text-shade-40: rgb(173, 216, 230, 0.4);
  --color-text-shade-60: rgb(173, 216, 230, 0.6);
  --color-text-shade-80: rgb(173, 216, 230, 0.8);

  --color-balance: rgb(70, 130, 180);
  --color-balance-20: rgb(70, 130, 180, 0.2);
  --color-balance-40: rgb(70, 130, 180, 0.4);
  --color-balance-60: rgb(70, 130, 180, 0.6);
  --color-balance-80: rgb(70, 130, 180, 0.8);
}

html[data-theme="primeBlueLite"] {
  --color-accent: rgb(0, 123, 255);
  --color-accent-20: rgb(0, 123, 255, 0.2);
  --color-accent-40: rgb(0, 123, 255, 0.4);
  --color-accent-60: rgb(0, 123, 255, 0.6);
  --color-accent-80: rgb(0, 123, 255, 0.8);

  --color-background: rgb(240, 248, 255);
  --color-background-20: rgba(240, 248, 255, 0.2);
  --color-background-40: rgba(240, 248, 255, 0.4);
  --color-background-60: rgba(240, 248, 255, 0.6);
  --color-background-80: rgba(240, 248, 255, 0.8);

  --color-background-shade: rgb(173, 216, 230);
  --color-background-shade-20: rgb(173, 216, 230, 0.2);
  --color-background-shade-40: rgb(173, 216, 230, 0.4);
  --color-background-shade-60: rgb(173, 216, 230, 0.6);
  --color-background-shade-80: rgb(173, 216, 230, 0.8);

  --color-text: rgb(0, 0, 70);
  --color-text-20: rgb(0, 0, 70, 0.2);
  --color-text-40: rgb(0, 0, 70, 0.4);
  --color-text-60: rgb(0, 0, 70, 0.6);
  --color-text-80: rgb(0, 0, 70, 0.8);

  --color-text-shade: rgb(0, 0, 128);
  --color-text-shade-20: rgb(0, 0, 128, 0.2);
  --color-text-shade-40: rgb(0, 0, 128, 0.4);
  --color-text-shade-60: rgb(0, 0, 128, 0.6);
  --color-text-shade-80: rgb(0, 0, 128, 0.8);

  --color-balance: rgb(70, 130, 180);
  --color-balance-20: rgb(70, 130, 180, 0.2);
  --color-balance-40: rgb(70, 130, 180, 0.4);
  --color-balance-60: rgb(70, 130, 180, 0.6);
  --color-balance-80: rgb(70, 130, 180, 0.8);
}
